<div class="text-center">
    <h1>Vue.js 教程练习 - 基础</h1>
</div>
<a class="btn btn-outline-primary" href="/" role="button">介绍</a>
<a class="btn btn-outline-primary" href="/Base/Instance" role="button">实例</a>
<a class="btn btn-outline-primary" href="/Base/Syntax" role="button">模板语法</a>