<div class="text-center">
    <h1>Vue.js 教程练习 - 工具</h1>
</div>
<a class="btn btn-outline-primary" href="/Tool" role="button">工具</a>
<a class="btn btn-outline-primary" href="#" role="button">单元测试</a>
<a class="btn btn-outline-primary" href="#" role="button">TypeScript 支持</a>
<a class="btn btn-outline-primary" href="#" role="button">生产环境部署</a>