@{
    ViewBag.Title="路由";
}

<partial name="_Scale"/>

<div>
    <h2><a href="https://router.vuejs.org/" target="_blank">官方路由</a></h2>
    vue router 练习见：<a asp-area="VueRouter" asp-controller="Essentials" asp-action="Index" style="display:inline">Vue Router 练习</a>
    <h2>第三方路由</h2>
</div>