@{
    ViewBag.Title="Class 与 Style 绑定";
}

<partial name="_Base"/>

<div id="app">
    <h2>绑定 HTML Class</h2>
    <h5>#对象语法</h5>
    <h5>#数组语法</h5>
    <h5>#用在组件上</h5>

    
    <h2>绑定内联样式</h2>
    <h5>#对象语法</h5>
    <h5>#数组语法</h5>
    <h5>#自动添加前缀</h5>
    <h5>#多重值</h5>
</div>