@{
    ViewBag.Title="表单输入绑定";
}

<partial name="_Base"/>

<div id="app">
    <h2>基础用法</h2>
    <h5>#文本</h5>
    <h5>#多行文本</h5>
    <h5>#复选框</h5>
    <h5>#单选按钮</h5>
    <h5>#选择框</h5>
    <h2>值绑定</h2>
    <h5>#复选框</h5>
    <h5>#单选按钮</h5>
    <h5>#选择框的选项</h5>
    <h2>修饰符</h2>
    <h5>#.lazy</h5>
    <h5>#.number</h5>
    <h5>#.trim</h5>
    <h2>在组件上使用 v-model</h2>
</div>

@section Scripts{
    <!-- <script src="~/js/base/instance.js"></script> -->
}