<div class="text-center">
    <h1>Vue Router 练习 - Advanced</h1>
</div>
<a class="btn btn-outline-primary" href="/" role="button">Getting Started</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>
<a class="btn btn-outline-primary" href="/" role="button">Getting</a>