<div class="text-center">
    <h1>Vue Router 练习 - Advanced</h1>
</div>
<a class="btn btn-outline-primary" href="/" role="button">Navigation Guards</a>
<a class="btn btn-outline-primary" href="/" role="button">Route Meta Fields</a>
<a class="btn btn-outline-primary" href="/" role="button">Transitions</a>
<a class="btn btn-outline-primary" href="/" role="button">Data Fetching</a>
<a class="btn btn-outline-primary" href="/" role="button">Scroll Behavior</a>
<a class="btn btn-outline-primary" href="/" role="button">Lazy Loading Routes</a>