<div class="text-center">
    <h1>Vue Router 练习 - Essentials</h1>
</div>
<a class="btn btn-outline-primary" asp-area="VueRouter" asp-controller="Essentials" asp-action="Index" role="button">Getting Started</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/dynamic-matching.html" target="_blank" role="button">x Dynamic Route Matching</a>
<a class="btn btn-outline-primary" asp-area="VueRouter" asp-controller="Essentials" asp-action="NestedRoutes" role="button">Nested Routes</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/navigation.html" target="_blank" role="button">x Programmatic Navigation</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/named-routes.html" target="_blank" role="button">x Named Routes</a>
<a class="btn btn-outline-primary" asp-area="VueRouter" asp-controller="Essentials" asp-action="NamedViews" role="button">Named Views</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/redirect-and-alias.html" target="_blank" role="button">x Redirect and Alias</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/passing-props.html" target="_blank" role="button">x Passing Props to Route Components</a>
<a class="btn btn-outline-primary" href="https://router.vuejs.org/zh/guide/essentials/history-mode.html" target="_blank" role="button">x HTML5 History Mode</a>