@{
    ViewBag.Title = "工具";
}

<partial name="_Tool"/>

<div id="app">
    <h2>单文件组件</h2>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
</div>

@section Scripts{
    <script src="~/js/tool/index.js"></script>
}